@import "_config.scss";

.App {
  background-color: $white;
  height: 100% !important;
  position: absolute;
  width: 100%;
}

.container-fluid {
  max-width: 740px;
  min-width: 345px;

  .break{
    height: 32px;
  }

  .halfBreak{
    height: 16px;
  }

  .box{
    padding-top: 16px;
    padding-bottom: 32px;
    padding-left: 8px;
    padding-right: 8px;

  }

  h1 {
    font-size: 42px;
    padding-bottom: 27px;
    padding-top: 27px;
    margin: 0px;
  }

  p {
    font-size: 21px;
    padding-bottom: 24px;
    padding-top: 0px;
    margin: 0px;

    a {
      font-size: 21px;
      padding-left: 4px;
      padding-right: 4px;
      color: $black;
      border-bottom: 3px solid;
      border-color: $gray;

      &:hover{
        background-color: $gray;
        text-decoration: none;

        &:active{
          color: $white
        }

      }
    }
  }

  .infoLink {
    font-size: 21px;
    padding-left: 4px;
    padding-right: 4px;
    color: $black;
    border-bottom: 3px solid;
    border-color: $red;

    &:hover{
      background-color: $red;
      text-decoration: none;
      &:active{
        color: $white

      }

    }

  }

  .contactMe {
    font-size: 21px;
    padding-left: 4px;
    padding-right: 4px;
    color: $black;
    border-bottom: 3px solid;
    border-color: $green;

    &:hover{
      background-color: $green;
      text-decoration: none;

      &:active{
        color: $white
      }

    }
  }

}

header {
  position: relative;
  display: block;
  width: 100%;
  background: $gray;
  color: $black;
  height: 44px;

  .logo {
    position: absolute;
    top: 50%; left: 8px;
    @include translateY(-50%);
  }

  nav,
  nav ul,
  nav ul li {
    margin: 0;
    padding: 0;
  }

  nav {
    position: absolute;
    top: 50%; right: 8px;
    @include translateY(-50%);

    ul li {
      list-style-type: none;
      display: inline-block;
      margin-right: 8px;

      &.last{
        margin: 0px;
      }

      a {
        font-size: 16px;
        line-height: normal;
        color: $white;
      }

    }

  }

}
